!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    = stylesheet_link_tag 'ext-all', 'admin', :cache => 'admin_stylesheets'
    %title Admin Section
    = javascript_include_tag :ext, :ext_extensions, :ext_grid_filter, :ext_mvc, 'admin', :initializers, :helpers, :controllers, :models, :views, :cache => 'admin_mvc'
    = yield :head
  %body
    #header
      %h1 Administration Section
      %p= current_user.email rescue ''
    #menu
      %ul
        %li= link_to 'Dashboard', '#', :id => 'Dashboard_Index'
    = yield